<%- include("header") -%>

        <div class="box" id="heading">
            <h1> <%=date%> </h1>
        </div>

        <div class="box">

            <% habits.forEach((habit) => { %>
                <form action="/delete" method="post">
                    <div class="item">
                        <input type="checkbox" name="checkbox" value="<%=habit._id%>" onChange="this.form.submit()">
                        <p> <%=habit.title%> </p>
                    </div>
                </form>
            <% }) %>

            <form class="item" action="/" method="post">
                <input type="text" name="newHabit" placeholder="New Habit" autocomplete="off" required>
                <button type="submit" name="button">+</button>
            </form>
        </div>

<%- include("footer") -%>