<%- include("header") -%>

        <div class="box" id="heading">
            <h1> <%=date%> </h1>
        </div>

        <div class="box">

            <% habits.forEach((habit) => { %>
                <form action="/complete" method="post">
                    <div class="item">
                        <input type="text" name="id" value="<%=habit._id%>" hidden="true">
                        <input type="text" name="streak" value="<%=habit.streak%>" hidden="true">
                        <input type="text" name="complete" value="<%=habit.complete%>" hidden="true">
                        <% if (habit.complete) { %>
                            <input type="checkbox" onChange="this.form.submit()" checked>
                        <% } else { %>
                            <input type="checkbox" onChange="this.form.submit()">
                        <% } %>
                        <p> <%=habit.title%> - <%=habit.streak%></p>
                    </div>
                </form>
            <% }) %>

            <form class="item" action="/" method="post">
                <input type="text" name="newHabit" placeholder="New Habit" autocomplete="off" required>
                <button type="submit" name="button">+</button>
            </form>
        </div>

<%- include("footer") -%>